<!DOCTYPE html>
<html>
    <head>
        <title> 404 </title>
        <link rel="stylesheet" href="/css/style.css">
        {{>header}}
    </head>
    <body>
        <div class="main-contest">
            {{errorMessage}}
        </div>
    </body>
    {{>footer}}
</html>