<!DOCTYPE html>
<html>
    {{>header}}
    <head>
        <title> About </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-contest">
            <h1> About : {{name}} </h1>
        </div>
    </body>

    {{>footer}}
</html>