<!DOCTYPE html>
<html>
    {{>header}}
    <head>
        <title> Help </title>
        <link rel="stylesheet" href="/css/style.css">
    <head>

    <body>
        <div class="main-contest">
            <p> {{message}} </p>
        </div>
    </body>

    {{>footer}}
</html>