<!DOCTYPE html>
<html>

    {{>header}}

    <head>
        <title> Weather </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    <head>

    <body>
        <div class="main-contest">
            <p> Lena Soderberg </p>
            <img class= "portrait" src="/img/Lenna.jpg" />

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id='message-1'>  </p>
            <p id='message-2'>  </p>
        </div>

        <script src="/js/app.js"></script>
    </body>
        {{>footer}}
        <p> Use this site to get your weather</p>
</html>